@import './base/presets.css';
@import './globals/navbar.css';
@import './globals/footer.css';
@import './pages/home/body.css';
@import './pages/interests/body.css';
@import './pages/portfolio/body.css';
@import './pages/projects/body.css';

.main-conatiner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
