.projects-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin-bottom: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-card {
    width: 33%;
    background-color: #e0e0e0;
    border-radius: 16px;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project-title {
    font-size: 1.5rem;
}

.project-description {
    font-size: .9rem;
    line-height: 1rem;
}

.project-stack {
    display: flex;
    gap: .5rem;
}

.project-extend-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: .5rem;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.project-extend-button:hover {
    background-color: #000000;
    color: #ffffff;
}