.home-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    column-gap: 1rem;
}

.home-intro {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 3rem;
}

.home-photo {
    width: 23rem;
    height: 30rem;
}

@media (max-width: 1400px) {
    .home-intro {
        line-height: 2rem;
    }
}

@media (max-width: 1024px) {
    .home-content-container {
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        text-align: center;
    }

    .home-intro {
        font-size: 1.3em;
        line-height: 1.9rem;
    }

    .home-photo {
        width: 20rem;
        height: auto;
    }
}

@media (max-width: 768px) {
    .home-intro {
        font-size: 1.2em;
        line-height: 1.8rem;
    }

    .home-photo {
        width: 18rem;
    }
}

@media (max-width: 480px) {
    .home-intro {
        font-size: 1em;
        line-height: 1.5rem;
    }

    .home-photo {
        width: 15rem;
    }
}
